[Inter-Grid]
	Hypergrid=yes

[DatabaseService]
	Type=MySQL
	Server=127.0.0.1
	Database=baresimdb
	Username=baresimdb
	Password=baresimdb

[Network]
	ExternalHostName = "example.com"

[HTTP]
	Port = 9000
