[Startup]
	Mode=RobustHypergrid
	HomeURI="http://example.com:8002"
	GridURI="http://example.com:8002"

[DatabaseService]
	Type=MySQL
	Server=localhost
	Database=silversimgrid
	Username=silversimgrid
	Password=silversimgrid

[Network]
	ExternalHostName = "example.com"

[OptionalModules]
	Include-OptionalModules = "SilverSim.Grid.OptionalModules.ini"

[HTTP]
	ListenerPort = 8002
