[Inter-Grid]
	Hypergrid=yes

[DatabaseService]
	Type=MySQL
	Server=127.0.0.1
	Database=standalonedb
	Username=standalonedb
	Password=standalonedb

[Network]
	ExternalHostName = "standalone.example.com"

[HTTP]
	Port = 9000

[HTTPS]
	Port = 9001

[OptionalModules]
	LSL_LoadIarSupport=yes
	LSL_LoadOarSupport=yes
	LSL_NpcLoadIarSupport=yes
	NPCSupport=yes
	Experiences=yes
