[Startup]
	Mode=RobustHypergrid
	HomeURI="http://example.com:8002"
	GridURI="http://example.com:8002"

[DatabaseService]
	Type=MySQL
	Server=localhost
	Database=griddb
	Username=griddb
	Password=griddb

[Network]
	ExternalHostName = "example.com"

[HTTP]
	ListenerPort = 8002
