[Startup]
	Mode=RobustHypergrid

[DatabaseService]
	Type=MySQL
	Server=127.0.0.1
	Database=standalonedb
	Username=standalonedb
	Password=standalonedb

[Network]
	ExternalHostName = "standalone.example.com"

[HTTP]
	Port = 9000

[HTTPS]
	Port = 9001
